body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #333;
    font-size: 28px;
}

.container p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}

.cv-section {
    text-align: center;
    margin-bottom: 30px;
}

.cv-link {
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cv-link:hover {
    color: #0056b3;
}

.projet h2 {
    font-size: 22px;
    color: #444;
    margin-bottom: 10px;
}

.projet ul {
    padding-left: 20px;
    list-style: disc;
}

.projet ul li {
    font-size: 16px;
    color: #555;
}


