body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

/* Style pour le titre principal */
h1 {
    background-color: #4c66af;
    color: white;
    padding: 20px;
    margin: 0;
    width: 100vw;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
   
  }

  .competence {
    margin: 10px 0;
    width: 300px; /* Fixer une largeur pour le conteneur */
    text-align: left; /* Assurez-vous que le texte commence à gauche */
}

.barre {
    width: 100%; /* Utiliser la largeur définie dans .competence */
    background-color: #e0e0e0;
    border-radius: 500px;
    overflow: hidden;
    position: relative; /* Corrige le positionnement */
}

.niveau {
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: #333; /* Une couleur pour le niveau */
    width: 70%; /* Exemple d'une largeur pour illustrer le niveau de compétence */
}